.more-screen .icon-row {
    margin: 40px 0;
}

.more-suggestions {
    border-top: var(--main-border);
    padding-top: 25px;
}

.more-suggestions__title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 30px;
}

.more-suggestions__icons {
    display: flex;
}

.more-suggestions__icon {
    display: flex;
    flex-direction: column;
    margin-right: 15px ;
    align-items: center;
}

.more-suggestions__icon i {
    width:60px;
    height:60px;
    border-radius: 15px;
    background-color: #FBE300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.more-suggestions__icon span {
    color: var(--grey-color) ;
}

.more-suggestions__icon:first-child {
    color: white;
}