.screen-header {
    display: flex ;
    position: sticky;
    justify-content: space-between ;
    align-items: center ;
    padding: var(--horizontal-space) ;
    top: 20px;
    margin-bottom: 30px ;
    z-index: 1;
    background-color: white;
}

.screen-header__title {
    font-size: 32px ;
    font-weight: 600 ;
}

.screen-header__icons span {
    margin-left: 25px ;
}

@keyframes cogdancing {
    from {
        transform: none
    }

    to {
        transform: rotatez(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: cogdancing 1s linear infinite;
}